**/.DS_Store

!/.github/workflows/pull-request-lint.yml
!/.github/workflows/stale.yml
!/package.json
!/LICENSE
!/.npmignore
yarn-error.log

node_modules/
jspm_packages/
*.tsbuildinfo
.eslintcache
*.tgz
.yarn-integrity
.cache
!/.projenrc.js
/test-reports/
junit.xml
/coverage/
!/.github/workflows/build.yml
!/.mergify.yml
!/.github/pull_request_template.md
!/test/
!/tsconfig.json
!/tsconfig.dev.json
!/src/
/lib
/dist/
!/.eslintrc.json
/assets/
!/cdk.json
/cdk.out/
.cdk.staging/
.parcel-cache/
!/.github/workflows/upgrade.yml